table {
    border-collapse: collapse;
    margin: 10px auto;
}

table, th, td {
    border: 1px solid black;
}

td {
  width: 40px;
  height: 40px;
  transition: background-color 0.2s;
}

tr:nth-child(2) td:nth-child(5) {
  background-color: #FF3412
}

td:hover {
  background-color: #267F6B
}

tr:nth-child(2) td:nth-child(5):hover {
  background-color: #267F6B
  
}